
	<p class="lead" style="text-align: center; border-top: 3px solid blue" > this is the footer </p>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

	</body>
</html>