

<%- include('../partials/header'); %>



<!-- <p> filter products </p>
  <label for="filter"> filter</label>
  <a href="https://www.google.com/">  <input type="radio" href="https://www.google.com/" name="search"></a> -->


<div class="container">	
		<%- include('../partials/filter/filter'); %>	
</div>
  

<div class="container-fluid">
	  <%- include('../partials/products/products_display'); %>

	
</div>

  






<%- include('../partials/footer'); %>

