<%- include('../partials/header'); %>

	<section class="container" style="padding: 150px">
		LATEST PRODUCTS
	</section>

	<section class="container" style="padding: 150px">
			BEST PRODDUCTS
	</section>


	<footer class="container" style="padding: 150px">
		this is the contact and about sections
	</footer>
	

<%- include('../partials/footer'); %>