<%- include('../partials/header'); %>

	<section class="container" >
		<%# this is nothing %>
<div class="row" style="margin: 10px">
	<div class="col-lg-4 col-xs-4 col-md-6">
		<div class="list-group">
			  <a href="#" class="list-group-item list-group-item-action active">
			    Cras justo odio
			  </a>
			  <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
			  <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
			  <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
			  <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
		</div>
	</div>
		
	<div class="col-lg-8">
		Look again at that dot. That's here. That's home. That's us. On it everyone you love, everyone you know, everyone you ever heard of, every human being who ever was, lived out their lives. The aggregate of our joy and suffering, thousands of confident religions, ideologies, and economic doctrines, every hunter and forager, every hero and coward, every creator and destroyer of civilization, every king and peasant, every young couple in love, every mother and father, hopeful child, inventor and explorer, every teacher of morals, every corrupt politician, every "superstar," every "supreme leader," every saint and sinner in the history of our species lived there--on a mote of dust suspended in a sunbeam.
	</div>

</div>
	</section>

	<section class="container" style="padding: 150px">
			BEST PRODDUCTS
	</section>


	<footer class="container" style="padding: 150px">
		this is the contact and about sections
	</footer>
	

<%- include('../partials/footer'); %>