<%- include('../../partials/admin/navbar'); %>
<%- include('../../partials/admin/header'); %>
<%- include('../../partials/admin/sidenav'); %>

	<div class="jumbotron">
		<h3 style="text-align: center"> create user </h3>
	</div>

	this is the new user  creation page

		 
	<script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
       	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	     <script src="/js/bootstrap.bundle.min.js"></script>
        <%- include('../../partials/footer'); %>
</html>

<script>