<div class="container-fluid"  >
  <div class="row" >
    <nav class="col-md-2 col-sm-3 d-none d-md-block bg-light sidebar" style="position: fixed;height: 100%;background-color: red ">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
         <!--  <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Users
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/users/new_user">
              <span data-feather="shopping-cart"></span>
                create new-user
            </a>
          </li>          

            <li class="nav-item">
            <a class="nav-link" href="/users/all_users">
              <span data-feather="shopping-cart"></span>
                view users
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/product_page">
              <span data-feather="shopping-cart"></span>
                create new product
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/product/all_products">
              <span data-feather="layers"></span>
              View all products
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather=""></span>
             contacts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              About us
            </a>
          </li>       

        </ul>        
        
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">House Renting Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <a href="/new_category" type="button" class="btn btn-sm btn-outline-secondary">create category</a>
            <a href="/category/all_category" type="button" class="btn btn-sm btn-outline-secondary">view categories</a>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>


